#{extends 'main.html' /}
#{set title:'Add Course' /}

<div id="add-course">
    <h3>${title}</h3>
    <form method="post" action="@{Courses.create}">
        <label for="title">Course Title</label>
        <p>
            <input type="text" id ="title" name="course[title]" value="" />
        </p>
        <label for="content">Course content</label>
        <p>
            <textarea id="content" name="course[content]"></textarea>
        </p>
        <p>
            <input type="submit" value="Add" class="button" />
        </p>
    </form>
</div>