#{extends 'main.html' /}
#{set title:'Courses Index' /}

<div id="courses">
    <ol>
        #{if courses.size() > 0}
            #{list items:courses, as:'course' }
            <li>
                <h3>#{a @Courses.course(course.getId())}
                        ${course?.title}
                    #{/a}</h3>
                <div class="meta">
                    <small class="ts">${course?.timestamp}</small>, <small class="author">${course?.author}</small>
                </div>
            </li>
            #{/list}
        #{/if}
        #{else}
            <li>No Courses found. Please #{a @Courses.add()}add#{/a} one.</li>
        #{/else}
    </ol>
</div>